.card {
  &__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    column-gap: 32px;
    row-gap: 32px;
  }
  &__item {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin: -150px;
    float: left;
    perspective: 500px;

    &:hover {
      & .card__content {
        transform: rotateY(180deg);
        transition: transform 0.5s;
      }
    }

    // width: 192px;
    // height: 256px;
    // padding: 8px;

    // background-color: $color-secondary;

    // border: 4px solid $color-primary;
    // border-radius: 4px;
  }
  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    transition: transform 1s;
    transform-style: preserve-3d;

    // display: flex;
    // justify-content: center;
    // align-items: center;

    // width: 100%;
    // height: 100%;

    // color: $color-primary;
    // background-color: $color-primary;
    // background-size: cover;

    // font-size: 3rem;

    // border-radius: 4px;
    // &--active {
    //     background-color: $color-secondary;
    // }
  }

  &__front,
  &__back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    line-height: 300px;
    color: #03446a;
    text-align: center;
    font-size: 3rem;
    border-radius: 4px;
    backface-visibility: hidden;
  }

  &__back {
    background: #03446a;
    color: white;
    transform: rotateY(180deg);
  }
}

.card {
  width: 140px;
  height: 200px;
  perspective: 500px;

  cursor: pointer;

  &--open .content {
    transform: rotateY(180deg);
    transition: transform 1s;
  }
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;

  transition: transform 1s;
  transform-style: preserve-3d;

  border-style: solid;
  border-width: 4px;
  border-color: #cccccc;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23cccccc' /></svg>");
  position: relative; 
}

// .card:hover .content {
//   transform: rotateY(180deg);
//   transition: transform 1s;
// }

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $color-primary;
  line-height: 200px;
  color: #03446a;
  text-align: center;
  font-size: 60px;
  backface-visibility: hidden;
}

.back {
  // background: #03446a;
  background-image: url("/images/astronaut.jpg");
  background-position: left;
  color: white;
  transform: rotateY(180deg);
}
