.input {
    padding: 8px 16px;

    font-family: "VT323", monospace;

    color: $color-primary;
    background-color: transparent;  
    
    &:focus {
        outline: none;
    }
    
    &--extra-large {
        font-size: $extra-large;
    }
}