.layout {
    display: block;
    padding: 32px;
    box-sizing: border-box;

    min-height: 100vh;
    width: 100vw; 

    background-image: url("/images/background/1.gif");
    background-size: contain;
    &--main {
        display: grid;
        grid-template-columns: 320px 1fr;
        column-gap: 16px;
        align-items: flex-start;
    }

    &__auth {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}